.form{
    color: white;
    background-color: rgb(41, 40, 40);
    width: 50%;
    border-radius: 30px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form > h1{
    text-align: center;
}

.form > textarea{
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
    height: 25px;
}

.form > textarea:hover{
    background-color: #BB86FC ;
    color: black;
}

.form > input{
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
    height: 25px;
}
.form > input:hover{
    background-color:#BB86FC ;
    color: black;
}

.button{
    width: 100%;
    margin: 10px 0;
    background-color:#BB86FC;
    border-radius: 5px;
    height: 40px;
}

.button:hover{
    background-color: #d5b3ff;
}